@import url('https://fonts.googleapis.com');
@tailwind base;
@tailwind components;
@tailwind utilities;

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}
.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid var(--highcharts-neutral-color-10, #e6e6e6);
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: var(--highcharts-neutral-color-60, #666);
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tbody tr:nth-child(even) {
    background: var(--highcharts-neutral-color-3, #f7f7f7);
}
.highcharts-description {
    margin: 0.3rem 10px;
}

.region-map-province-list {display: grid; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); gap: 15px; margin-top: 15px;}

.region-map-title {text-align: center; margin-bottom: 15px; color: #2c3e50; font-size: 1.5rem;}
.region-map-province {fill: #DBEAFE; stroke: #fff; stroke-width: 1; transition: all 0.3s ease; cursor: pointer;}
.region-map-province:hover {fill:#1E3A8A; stroke-width: 2;}
.region-map-province.active {fill:#1E3A8A; stroke-width: 2; filter:);}
.region-map-province-info {flex: 1;display: flex;flex-direction: column;gap: 15px;}
.region-map-province-name {font-size: 1.9rem; font-weight: bold; color: #1E3A8A; text-align: left; margin-bottom: 10px;}

.region-map-province-details {display: grid;grid-template-columns: 1fr 1fr;gap: 15px;}

.region-map-province-item {background: #DBEAFE; padding: 12px;text-align: center;cursor: pointer;transition: all 0.3s ease;}
.region-map-province-item:hover {background: #1E3A8A; color: #ffffff; transform: translateY(-3px);}
.region-map-province-item.active {background: #1E3A8A; color: #ffffff;}

.region-map-info-panel {flex:1; border-radius:10px; padding:25px; display:flex; flex-direction: column;}

.region-map-detail-item {background:#f8f9fa; padding:5px;}
    .region-map-detail-label {font-size: 1rem; color: #2c3e50; text-align:center; border:1px #cccccc solid; padding:5px;}
    #region-map-detail-value {font-size: 1rem; color: #2c3e50; }

.region-map-placeholder {text-align: center;color: #ffffff;font-style: bold; font-size:21px; margin: auto;}
